:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  /* --clr-accent-400: hsl(142, 90%, 61%); */
  --clr-accent-400: hsl(49, 100%, 50%);
  --clr-accent-700: hsl(0, 100%, 43%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  line-height: 1.6;
  background: var(--clr-neutral-900);
  font-family: sans-serif;
  position: relative;
}

.card {
  color: var(--clr-neutral-100);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)),
    url('../assets/card-bg-01.jpg');

  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background-image: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 20%,
    hsl(0 0% 0% /1)
  );
  /* Watch the video https://www.youtube.com/watch?v=5DEq5cWNYt8&t=404s for more info on steps with linear gradients*/
}

.card-title {
  position: relative;
  width: max-content;
  /* display: inline-block; */
}

.card-title::after {
  content: '';
  position: absolute;
  height: 4px;
  bottom: -2px;
  left: calc(var(--padding) * -1);
  width: calc(100% + var(--padding));
  background-color: var(--clr-accent-400);
  /* background-color: var(--clr-accent-700); */
  transition: transform 500ms ease;
  transform-origin: left;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255 255 255 / 0.8);
}

.play-audio {
  position: absolute;
  top: 2rem;
  right: 5rem;
  background-color: var(--clr-accent-400);
  /* color: var(--clr-neutral-100); */
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.play-audio:hover,
.play-audio:focus {
  background-color: var(--clr-neutral-100);
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

.card:focus-within .card-content > *:not(.card-title) {
  transition-delay: 200ms;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
  transition: all 200ms ease;
}

.button:hover,
.button:focus {
  background-color: var(--clr-accent-700);
  color: var(--clr-neutral-100);
}

/* .button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
} */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
